<p id="notice"><%= notice %></p>

<h1>Takoyakis</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Quantity oct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @takoyakis.each do |takoyaki| %>
      <tr>
        <td><%= takoyaki.price %></td>
        <td><%= takoyaki.quantity_oct %></td>
        <td><%= link_to 'Show', takoyaki %></td>
        <td><%= link_to 'Edit', edit_takoyaki_path(takoyaki) %></td>
        <td><%= link_to 'Destroy', takoyaki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Takoyaki', new_takoyaki_path %>
